#app {
  #mainWrap {
    height: 100vh;
  }

  .navbar-item img {
    max-height: 3.4rem;
  }
  .navbar-burger {
    transform: rotate(0deg) scaleX(-1);
    color: #47cd45 !important;
  }
  nav {

    & span#burger .burger-span-1 {
      width: 30px !important;
      border-bottom: 2px solid #47cd45;
    }
    & span#burger .burger-span-2 {
      width: 24px !important;
      border-bottom: 2px solid #47cd45;
      margin-top: 3px;
    }
    & span#burger .burger-span-3 {
      width: 18px !important;
      border-bottom: 2px solid #47cd45;
      margin-top: 6px;
    }
    & span#burger.burger.is-active {

      & .burger-span-3 {
        width: 31px !important;
        top: calc(50% + -2px) !important;
      }
    }

    & #navbarMenu span.icon {
      color: #0a8bea;
    }
  }

  &.hero.is-info {
    //background: linear-gradient(
    //                rgba(0, 0, 0, 0.5),
    //                rgba(0, 0, 0, 0.5)
    //), url('') no-repeat center center fixed;
    //background-image: url(''), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &.hero .nav,
  &.hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &.hero .title {
    margin-bottom: 15px;
  }
  &.hero .subtitle {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.88) !important;
    padding: 3rem 0;
    line-height: 1.5;
  }

  .hero-body .aka {
    color: #c39d9d;
  }
  .hero-body .field {
    //color: #7bc7ff;
    //color: #6fbaff;
  }

  .me {
    width: 140px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;

    & img {
      width: 100%;
      border: 2.60px solid #0a8bea;
      box-shadow: 0px 2px 6px 3px #5d5771;

      &:hover {
        border: 2.60px solid #9ecf9d;
      }
    }
  }

  .social-media {

    & a {
      border-radius: 50%;
      margin-left: 14px;
      background: #c7b1b540;
      opacity: .7;
      border: 1px solid #ffffff1a;
      padding: 7px 9px;
      color: #a4ffa3;

      & svg {
        width: 14px !important;
        top: 2px !important;
        position: relative !important;

        &:hover {
          color: white;
          opacity: 1 !important;
        }
      }

      &:hover {
        background: #70ff6e87;
        opacity: 1 !important;
      }
      &:hover svg {
        color: white;
        opacity: 1 !important;
      }

      //&:hover .iconn {
      //  color: white;
      //  opacity: 1 !important;
      //}
    }

    & .sm-start {
      margin-left: -4px;
    }
  }

  .has-tooltip-info::before {
    background: rgba(241, 245, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.33);
  }
  [data-tooltip]:not([disabled]).has-tooltip-info:not(.has-tooltip-right)::after {
    border-color: rgba(179, 162, 173, 0.9) transparent transparent transparent;
  }

  #arrow-down {
    margin-top: 60px;

    &:hover {
      cursor: pointer;
    }
  }

}

// Mobile
@media screen and (max-width: 768px) {
  .me {
    width: 116px !important;
    margin-top: 0px !important;
  }
  h1.title {
    font-size: 1.7em !important;
  }
  h2.subtitle {
    font-size: .986em !important;
  }
  .social-media {

    & a {
      background: rgba(155, 165, 171, 0.34) !important;
      border: 1px solid #ffffff1a !important;
    }
  }
}

// Tablet
@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: #00639f;
    text-align: center !important;
  }
}
