// Default
body {
  background: #3f3d5a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Global
.is-8 {
  font-size: .9em;
}
.is-9 {
  font-size: .8em;
}
.is-linkish {
  background: #4266a0 !important;
  outline: none;
  border: none;
}
.is-greenish {
  color: #cdfdbb !important;
}
.is-body-text {
  color: #e4d3d3 !important;
  //color: #eabd95 !important;
}
.is-body-text-2 {
  color: #eae2e2 !important;
}
.is-sub-heading {
  text-shadow: 0px 1px 0px #1f1515;
}
.is-accent-white {
  color: white !important;
  font-weight: 500;
}
.is-sm {
  font-size: .9rem;
}
.button.is-tiny {
  border-radius: 2px;
  font-size: 0.55rem;
}
.has-text-blue {
  color: #478eb9;
}
.is-84x84 {
  height: 84px;
  width: 84px;
}
.is-r-7 {
  font-size: 0.85rem;
  color: #656565;
}
.is-r-t-7 {
  font-size: 0.88rem;
  color: #565656;
}
.is-r-b-t-7 {
  color: #6a6969;
  margin-top: 6px;
  font-weight: 500;
  font-size: 0.84rem;
}
.is-r-b-s-7 {
  font-size: 0.85rem;
  margin-top: -10px !important;
  color: #656565;
}
.is-r-b-t1-7 {
  color: #565656;
}
.is-r-b-t2-7 {
  color: #777777;
  margin-top: 6px;
  font-weight: 500;
  font-size: 0.84rem !important;
}

// Bulma Extension - modified
.is-divider {
  border-top: .1rem solid #5a5555 !important;
  margin: 2rem auto !important;
  width: 62%;
  min-height: 7vh;

  &[data-content]::after {
    background: #291c1c;
    color: #b5b5b5;
    font-weight: 500;
  }

  &:hover {
    cursor: pointer;
  }
}

// Hero Section
#HeroLayout {
  .navbar-item img {
    max-height: 3.4rem;
  }
  .navbar-burger {
    transform: rotate(0deg) scaleX(-1);
    color: #47cd45 !important;
  }
  nav {

    & span#burger .burger-span-1 {
      width: 30px !important;
      border-bottom: 2px solid #47cd45;
    }
    & span#burger .burger-span-2 {
      width: 24px !important;
      border-bottom: 2px solid #47cd45;
      margin-top: 3px;
    }
    & span#burger .burger-span-3 {
      width: 18px !important;
      border-bottom: 2px solid #47cd45;
      margin-top: 6px;
    }
    & span#burger.burger.is-active {

      & .burger-span-3 {
        width: 31px !important;
        top: calc(50% + -2px) !important;
      }
    }

    & #navbarMenu span.icon {
      color: #0a8bea;
    }
  }

  &.hero.is-info {
    //background: linear-gradient(45deg, #dc8d9675 15%, #372e50 85%), url('/image/hero-bg.jpg') no-repeat center center fixed;
    background: linear-gradient(45deg, #562329bf 15%, #2b2048 85%), url('/image/hero-bg.jpg') no-repeat center center fixed !important;
    //background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  &.hero .nav,
  &.hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  &.hero .title {
    margin-bottom: 15px;
  }
  &.hero .subtitle {
    font-size: 1.1em;
    color: rgba(255, 255, 255, 0.88) !important;
    padding: 3rem 0;
    line-height: 1.5;
  }

  .hero-body .aka {
    color: #c39d9d;
  }
  .hero-body .field {
    //color: #7bc7ff;
    //color: #6fbaff;
  }

  .me {
    width: 140px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;

    & img {
      width: 100%;
      border: 2.60px solid #0a8bea;
      box-shadow: 0px 2px 6px 3px #5d5771;

      &:hover {
        border: 2.60px solid #9ecf9d;
      }
    }
  }

  .has-tooltip-info::before {
    background: rgba(241, 245, 255, 0.2) !important;
    border: 1px solid rgba(255, 255, 255, 0.33);
  }
  [data-tooltip]:not([disabled]).has-tooltip-info:not(.has-tooltip-right)::after {
    border-color: rgba(179, 162, 173, 0.9) transparent transparent transparent;
    transform: rotate(180deg)
  }

  #arrow-down {
    margin-top: auto;
    top: 10vh;
    position: relative;
    color: #a1d09d !important;

    &:hover {
      cursor: pointer;
    }
  }
}

// Social Medias
.social-media {

  & a {
    border-radius: 50%;
    margin-left: 14px;
    background: #c7b1b540;
    opacity: .7;
    border: 1px solid #ffffff1a;
    padding: 5.4px 7px;
    color: #a4ffa3;

    & svg {
      //width: 14px !important;
      top: 2px !important;
      position: relative !important;

      &:hover {
        color: white;
        opacity: 1 !important;
      }
    }

    &:hover {
      background: #70ff6e87;
      opacity: 1 !important;
    }
    &:hover svg {
      color: white;
      opacity: 1 !important;
    }

    //&:hover .iconn {
    //  color: white;
    //  opacity: 1 !important;
    //}
  }

  & .sm-start {
    margin-left: -4px;
  }
}

// Common styles for Background, Skills, sections
#BackgroundComponent,
#SkillsComponent,
#ExperienceComponent,
#ProjectsComponent,
#OtherProjectsComponent {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #3f3d5a !important;
  min-height: 60vh;
  height: auto;

  & p {
    color: white;
  }

  & ul {
    list-style: none;
  }

  & .content ul {
    margin-left: .5em;
  }

  & .headings {
    width: 140px;
  }
}

// Background Section
#BackgroundComponent {
  box-shadow: 0px 18px 30px 21px rgba(50, 50, 50, 0.75);
  border-top: 1px solid #9e5f7f;
}

// Experience Section
#ExperienceComponent {
  min-height: 40vh !important;

  & .custom-heading {
    text-align: left !important;
  }
}

// Projects Section
#ProjectsComponent {
  min-height: 80vh !important;
  height: auto !important;

  & .headings {
    width: 200px !important;
  }
}
// Other Projects Section
#OtherProjectsComponent {
  min-height: 140vh !important;
  height: auto !important;

  & .headings {
    width: 200px !important;
  }

  & .buttons {
    margin-top: 7px;
  }

  & .bg {
    background: #b18d720a;
    border-radius: 4px;
    margin-bottom: 18px;
  }
}

// Footer
footer {
  background-color: #dcdbd3 !important;
  min-height: 24vh;
  height: auto;
  //background: linear-gradient(12deg, #e37682 15%, #a496d0 85%);
  color: #4b474e;

  & .footer-divider {
    margin-bottom: 30px;
  }

  & a {
    color: inherit;
  }

  & ul {
    margin-left: -10px;

    & li {
      margin-left: 10px;
    }
  }

  & .sm-start {
    margin: 0px !important;
  }

  & .social-media {
    position: relative;
    left: 6px;

    & a {
      padding: 5.4px 6.6px;
      margin-left: 6px;
      color: #5f635f;
      border: 1px solid #7d7373c7;

      &:hover {
        background: none;
      }

      &:hover svg {
        color: #775d5d;
      }

      & svg:hover {
        color: #775d5d;
      }
    }
  }
}

// Misc
.crafts-icon a {
  color: #339232;
  position: relative;
  top: 3px;

  &:hover {
    color: white;
  }
}

// Scroll to top
#scrollToTop {
  position: fixed;
  right: 8px;
  bottom: 14px;
  color: #50e24e !important;
  background: #291c1c;
  padding-top: 7px;
  width: 40px;
  height: 36px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

// ---------- Below are Breakpoint styles -------------
// Mobile
@media screen and (max-width: 768px) {
  #HeroLayout {
    .navbar-item img {
      max-height: 2.7rem;
    }
  }

  .me {
    width: 100px !important;
    margin-top: 0px !important;
  }
  h1.title {
    font-size: 1.75em !important;
  }
  h2.subtitle {
    font-size: .990em !important;
  }
  .social-media a {
      background: rgba(155, 165, 171, 0.34) !important;
      border: 1px solid #ffffff1a !important;
      padding: 4.8px 6px !important;
  }

  footer .social-media a {
    padding: 4.8px 5.5px !important;
    border: 1px solid #7d7373c7 !important;
  }

  #arrow-down {
    top: 5vh !important;
  }

  // Bulma modification
  .modal-content, .modal-card {
    width: auto;
  }

  // Resume Page
  #resumeMenu {
    margin-top: -8px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

// Tablet
@media screen and (max-width: 1023px) {
  .hero.is-info .navbar-menu {
    background-color: #00639f;
    text-align: center !important;
  }
}
