// Resume PageLayout
#resume {
  background-color: #f2f5fa;
}

#Loader {
  position: absolute;
  top: 260px;
  width: 100%;
  text-align: center;
}

#ResumeWrap {
  position: relative;
  width: 68%;
  top: 28px;
  margin: 0 auto 200px;

  & .main-body {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 129.4118%;
    padding-bottom: 48px;
    margin-top: 1.6em;
    margin-bottom: 0.9em;
    overflow: hidden;
    border-radius: 8px;
    will-change: transform;

    & iframe {
      visibility: visible;
    }

    &.not-loaded iframe {
      visibility: hidden;
    }
  }

  & #ResumeOverlay {
    position: absolute;
    bottom: 0px;
    height: 5%;
    width: 100%;
    background: #f2f5fa;
  }
}

#resumeMenu {
  margin-top: 40px;
  padding-right: 0px;
  padding-left: 0px;

  & .button {
    background: #4e5a75;
    border: none;
    margin-right: 10px;

    & .icon {
      color: #47cd45;
    }

    &:hover {
      background: #47cd45;
      color: white;
    }
    &:hover .icon {
      color: white;
    }
  }

  & img {
    width: 100%;
    object-fit: cover;
    max-height: 2.7rem;
  }

  & .logo-bg {
    background: #222a3e;
    width: 84px;
    padding: 12px;
    margin-top: -40px;
    box-shadow: 0px 2px 6px #948989;
  }
}

#resume > .hero-body {
  background: white;
  border-radius: 6px;
  box-shadow: 0 20px 60px 0 rgba(186,200,227,.1),0 16px 36px 0 rgba(186,200,227,.3);
  width: 68%;
  min-height: 40%;
  max-height: 100%;
  height: auto;
  margin: 40px auto 100px;
  align-items: initial;

  & .body-profession.employment {
    margin-top: -12px;
  }
}

.resume {
  padding-left: 3rem;
  padding-right: 3rem;

  & .r-side {
    & .subtitle {
      margin-top: -16px;
      margin-bottom: 8px;
    }
  }

  & .r-body {
    margin-left: 30px
  }
}

.employment-mini-list-title {
  position: relative;
  left: 28px;
  font-weight: 600;
  color: #7d7d7d;
  top: -14px;
  font-size: .95em;
}

.employment-mini-list {
  position: relative;
  left: 40px;
  top: 4px;

  & h6 {
    font-size: .85em;
    line-height: 10px;
  }
}

.custom-break-10 { margin: 10px 0px; }
.custom-break-20 { margin: 20px 0px; }
.custom-break-30 { margin: 30px 0px; }

// ---------- Below are Breakpoint styles -------------
// Mobile
@media screen and (max-width: 768px) {
  // Resume PageLayout
  #resume > .hero-body {
    width: 100% !important;
  }

  #resumeMenu {
    margin-top: -8px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;

    & .logo-bg {
      margin-top: -16px !important;
    }
  }

  .resume {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}



// Desktop only
@media screen and (max-width: 1399px) {
  // Resume PageLayout
  #resume > .hero-body {
    width: 80% !important;
  }
  #ResumeWrap {
    width: 88% !important;
  }
}

// Tablet only
@media screen and (max-width: 1199px) {
  // Resume PageLayout
  #resume > .hero-body {
    width: 92% !important;
  }
  #ResumeWrap {
    width: 96% !important;
    & #ResumeOverlay {
      height: 6% !important;
    }
  }
}

@media screen and (max-width: 991px) {
  #ResumeWrap {
    margin: 0 auto 100px !important;
    top: -12px !important;
    & #ResumeOverlay {
      height: 8% !important;
    }
  }
}

@media screen and (max-width: 512px) {
  #ResumeWrap {
    margin: 0 auto 0px !important;
    top: -222px !important;
    & #ResumeOverlay {
      height: 10% !important;
    }
  }
}

// Custom breakpoint
@media screen and (max-width: 456px) {
  // Resume PageLayout
  .right-part {
    display: inline-flex;
  }

  .r-body .title {
    //font-size: 1.4em !important;
  }
  .r-body .subtitle {
    font-size: .8em !important;
  }
}
